torch==2.5.1 ## 12.4 cuda
torchvision
torchaudio
ultralyticsplus==0.0.28
ultralytics==8.0.43
numpy<2.0.0
supervision
motmetrics
opencv-python
hydra-core
omegaconf
albumentations
numpy<2 ## yes I know it, don't touch that
setuptools<81