--extra-index-url https://download.pytorch.org/whl/cu121 ## sorry, for cuda 12. try other version if you will
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
ultralyticsplus==0.0.28
ultralytics==8.0.43
numpy<2.0.0
supervision
motmetrics
opencv-python